body {
  margin: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#calculator {
  display: flex;
  flex-direction: column;
  /* border: 2px black solid; */
  padding: 4px;
}
.screen {
  height: 100px;
  border: 2px black solid;
}
.resultScreen {
  height: 30px;
}
.bottomScreen {
  height: 70px;
}
.btnsPad {
  display: flex;
  flex-wrap: wrap;
  width: 320px;
}
button {
  height: 50px;
  width: 80px;
}
button:nth-last-child() {
  height: 100px;
}
